<!--
  Generated template for the StationDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{station.name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-img width="100%" height="40%" src={{stationImage}}></ion-img>

  <ion-item>
    <ion-icon name="bicycle" item-start></ion-icon>
    <ion-label item-content color="primary"> Lediga cyklar: </ion-label>
    <ion-label item-end> {{station.availableBikes}} </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="stats" item-start></ion-icon>
    <ion-label item-content color="primary"> Lediga ställ: </ion-label>
    <ion-label item-end> {{station.availableBikeStands}} </ion-label>
  </ion-item>
  <ion-item>
    <ion-icon name="time" item-start></ion-icon>
    <ion-label item-content color="primary"> Tillgänglighet: </ion-label>
    <ion-label item-end> {{stationAvailability}} </ion-label>
  </ion-item>

</ion-content>

<ion-footer no-border padding-bottom>
  <button *ngIf="!isFavorite" style="width: 80%;" ion-button [disabled]="isClicking" (click)="addFavorite()">Lägg till som favorit</button>
  <button *ngIf="isFavorite" style="width: 80%;" ion-button outline [disabled]="isClicking" (click)="removeFavorite()">Ta bort från favorit</button>
</ion-footer>
