<!--
  Generated template for the FavoritePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Favoriter</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <div *ngIf="stationListItems.length > 0">

    <ion-segment [(ngModel)]="markerType" color="primary">
      <ion-segment-button value="bike">
        <ion-icon name="bicycle"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="bikeStands">
        <ion-icon name="pie"></ion-icon>
      </ion-segment-button>
    </ion-segment>

    <ion-list-header>Mina Favorit Stationer</ion-list-header>
    <ion-list>
      <ion-item-sliding *ngFor="let item of stationListItems">

        <button ion-item detail-none (click)="stationClicked(item)">
          <ion-icon *ngIf="markerType == 'bike'" [ngStyle]="{'color':item.bikeIconColor}" item-start name='bicycle'></ion-icon>
          <ion-icon *ngIf="markerType == 'bikeStands'" [ngStyle]="{'color':item.bikeStandIconColor}" item-start name='pie'></ion-icon>
          <div item-content style="width:100%;">
            <h2 [innerText]= "item.name"></h2>
            <p>Cyklar: {{item.availableBikes}}, Lediga ställ: {{item.availableBikeStands}}</p>
          </div>
          <ion-icon item-end name="ios-information-circle-outline"></ion-icon>
        </button>

        <ion-item-options>
          <button ion-button color="danger" (click)="removeFavorite(item)">Ta bort</button>
        </ion-item-options>

      </ion-item-sliding>
    </ion-list>
  </div>

  <div padding-top *ngIf="stationListItems.length == 0" style="text-align:center;">
    <ion-card>
      <img src='https://i.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png'/>
      <ion-card-content>
        <ion-card-title>Du har inga favorit stationer!</ion-card-title>
        <p>Hitta stationer genom att gå in i</p>
        <p>kartvyn eller listvyn.</p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>
